<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="origin, x-csrftoken, content-type, accept,accept-language, ghost-language" />
        <add name="Access-Control-Max-Age" value="86400" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="expires" value=""/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
